

/* FAZER: */

/* GERAL: */
/* MUDAR COR DE FUNDO(PARA UM CINZA AZULADO)
/* MUDAR COR DOS CARDS(AZUL MAIS CONFORTÁVEL) */
/* CRIAR VARIÁVEIS DE CORES */
/* HEADER: 

- aplicar animação de entrada dos elementos quando a página carregar
- sombra nos elementos do menu☑️
- estilizar menu(crescer ao passar mouse);☑️
- aplicar funcionalidade ao clicar nos elementos do menu, para levar até a sessão da página, deixar scroll mais lento(jquery)☑️
- aumentar a altura do espaço que o header ocupa.☑️
- criar texto para essa área, alinhar e separar melhor texto☑️
- colocar img fundo ☑️
- escolher fonte título principal ☑️
- trocar cores fonte ☑️


/* MAIN: 

- ALINHAR MELHOR CARDS EM TELAS PEQUENAS
- POSICIONAR MELHOR SETAS
- ORGANIZAR TAMANHO E DESIGN DE CARDS(C/ RESPONSIVIDADE)☑️
- DECIDIR CORES FINAIS
- CRIAR VARIÁVEIS DAS CORES
- COLOCAR ANIMAÇÃO NOS CARDS AO PASSAR MOUSE(CRESCER, APLICAR SOMBRA)☑️
- COLOCAR HOVER NAS SETAS
- ESTILIZAR MELHOR TÍTULOS DE REGIÕES☑️

- FAZER SESSÃO DE INFORMAÇÕES DO CLIMA; BUSCAR IDEIAS ☑️
- CRIAR UM TÍTULO E SUBTÍTULO INTRODUTÓRIOS HARMÔNICOS
- ALINHAR E POSICIONAR MELHOR
- BUSCAR IMAGENS
- SEPARAR RESUMOS P/ CADA CLIMA
- ESCOLHER CORES
- ORGANIZAR IMAGENS
- BUSCAR MAIS IDEIAS



/* FOOTER: 
- CRIAR LAYOUT FOOTER
- ESCOLHER CORES

/* ALTERAÇÕES: */
/* - Coloquei tamanho fixo no "containerCards" para não passar dos limites com o flex; tirei position:absolute das arrows para não quebrar; coloquei uma arrow no início de "divArrows" e outra no fim, com a ajuda do tamanho fixo do "containerCards" permite ver elas no antese depois dos cards; 



/* import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */

/* TÍTULO */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: normal;
}

/* configuração para scroll da página */
/* html {
    scroll-behavior: smooth;
} */

body {
    /* gradiente */
    /* background-image: linear-gradient(180deg, #332f62, #3c276a, #261e43); */

    /* cor igual fundo bandeira */
    
    /* background-color: #a8b5c5;  */
    background-color: #ebebeb;

    /* background-color: #99b7d2; */
}

/* header */

.headerTag {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    /* height header com a bandeira no tamanho perfeito, mas mt curto  */
    /* height: 390px; */

    height: 640px; 
    gap: 120px;
    background-image: url("img/img bandeira 2.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    

}


.menuTag {
    display: flex;
    justify-content: center;
    padding: 38px 0 0px 0;
   
}



.listTag {
    display: flex;
    justify-content: center;
    gap: 45px;
    

}

.linkItemMenu {
     display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    gap: 68px;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 0 5px;
}

.itemList {
    transition: all 0.3s;
    scale: 1;
    text-shadow: 1px 1px 10px #4d5f798a;
    
}

.itemList:hover {
    color:rgb(235, 235, 235);
    cursor: pointer;
    scale: 1.04;
    transition: all 0.3s;
    
}

.homeArea {
    text-align: initial;
    color: white;
    max-width: 500px;
    padding: 0 20px 80px 55px;
}

.titleHome {
    
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    text-shadow: 1px 1px 10px #4d5f798a;
}

.homeArea p {
    font-size: 17px ;
    line-height: 20px;
    margin-bottom: 7px;
    text-shadow: 1px 1px 10px #4d5f798a;
}


.linhaHoriz {
    /* border: 0.1px solid white;
    margin: -1px 0 11px 0;
        width: 97%; */
    border: 0.1px solid white;
        margin: 10px 0px 15px -25px;
        width: 60%;
}


/* main area*/

.mainArea {
    /* background-image: linear-gradient(180deg, #332f62, #3c276a, #261e43); */
    /* padding: 10px 0 115px 0; */
}

.containerMain {
    padding: 50px 40px;
    position: relative;
}

.titleRegion {
    color: #545e90;
    padding: 0 0 17px 9px;
}


/* arrow */

.divArrows {
    display: flex;
    align-items: center;
    margin: 0px -31px;
}

.fa-solid {
    /* position: absolute; */
    font-size: 42px;
    color: white;
    cursor: pointer;

}

.arrow-left {
    /* top:0;
    bottom:0;
    left:0;
    right: auto; */
    left: 0px;
    right: auto;
}

.arrow-right {
    right: 0px;
    left: auto;
}

.containerCards {
    display: flex;
    gap: 50px;
    /* flex-wrap: wrap; */
    padding: 10px 0 10px 8px;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width:none;

    /* justify-content: center; */
    margin: 0 0 0 2px;
    width: 1420px;
    height: 245px;
}

.card {
    background-color: white;
    padding: 0px 53px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 12px #36323229;
    transition: all 0.4s;
    cursor: pointer;
}

.card:hover {
    scale: 1.02;
    box-shadow: 0px 1px 9px #3632326b;

    
}

.purple {
    /* cor roxa  */
    /* background: #4725cf; */

    /* azul */
    background: #5170ff;
    color: white;
}

.titleCityCard {
    text-align: center;
    font-size: 24px;
    padding: 12px 0px 0 0;
    font-weight: 500;
    width: 164px;
}

.purple .iconUmidity, .iconWind {
    color: white;
}

.gray {
    /* cor cinza */
    /* background: rgb(213, 213, 213); */

    /* cor branca */
    background: #d6e4eb;

    /* color: #4725cf; */
    color: #5170ff;
}

.gray .iconWind, .iconUmidity {
    color: #5170ff;
}

.temperaturaCity {
    display: flex;
    align-items: center;
    height: 90px;
    gap: 12px;
    margin-bottom: 30px;
    width: 152px

}

.numTemperatura {
    font-size: 45px;
    margin: 19px 0 0 0;
}

.imgTemperaturaEDescDiv img {
    width: 107px;

    

}

.imgTemperaturaEDescDiv p {
    margin: -20px 0 0 0;
    text-align: center;
    font-weight: 300;
}

.infosExtrasDiv {
    display: flex;
    gap: 30px;
}

.windInfo, .umidityInfo {
    text-align: center;
}

.iconUmidity, .iconWind {
    font-size: 29px;
}

.numVento, .numUmidade {
    font-weight: 500;
    margin: 12px 0 0 0;
}





/* footer: */
.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #a8b7c7;
    padding: 46px 10px;
    text-align: center;
}

.titleFooter {
    font-size: 21px;
    font-weight: 600;
}

.descricaoFooter {
    font-size: 16px;
    padding: 18px 0 0;
}

.divLinks {
    padding: 20px 0 0;
}

.linkFooter {
    text-decoration: none;
    font-weight: 500;
}

.titleLink {
    font-weight: 500;
    padding: 5px 0;
}




@media screen and (min-width: 750px) {
    .headerTag {
        align-items: initial;

        height: 695px;
        background-position: center;
        

    }

    .menuTag {
        padding: 38px 0 78px 0;
    }
    
    .homeArea {
        padding: 0 40px 80px 70px;
        text-align: initial;
    }

    .listTag {
        gap: 120px;
    }

    .titleHome {
        font-size: 45px;
        width: 530px;
    }

    .containerCards {
        justify-content: left;
        height: 224px;
    }

    .card {
        padding: 0px 45px 8px;
    }

    .titleCityCard {
        padding: 10px 0px 0 0;
        width: 167px;

    }

    .temperaturaCity {
        margin-bottom: 26px;
        height: 83px;
        margin-bottom: 5px;
    }

    .numTemperatura {
        font-size: 44px;
    }

    .imgTemperaturaEDescDiv img {
        width: 94px;
    }

    .imgTemperaturaEDescDiv p {
        margin: -23px 0 0 0;
        font-size: 14px;

    }

    .infosExtrasDiv {
        gap: 44px;
        margin: 14px 0 0 0;
    }
    .iconUmidity, .iconWind {
        font-size: 21px; 
    }

    .numVento, .numUmidade {
        font-weight: 500;
        margin: 10px 0 0 0;
        font-size: 14px;
    }


    .linhaHoriz {
        width: 74%;
    }


    
    .info {
        display: flex;
        justify-content: center;
        margin: 0 27px;
    }

    .containerAreaClima {
        /* width: 50%; */
        display: grid;
        grid-template-columns: 0fr 0fr;
        gap: 20px;
        grid-template-areas: "clima1 clima2"
                             "clima1 clima3"
                             "clima4 clima6"
                             "clima5 clima6" ;

    }

    .climaBr {
        
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }

    .divImgClima {
        width: 216px;
        height: 258px;
        margin: -41px 0 0 0;
        border-radius: 10px;
        overflow: hidden;

    }


    .imgClima {
        width: 100%;
        height: 100%;
    }

    .tropical .divImgClima, .semiarido .divImgClima, .altitude .divImgClima, .litoraneo .divImgClima{
        height: 193px;
        width: 260px;
    }

    .divTextoClima {
        text-align: center;
        width: 300px;
        color: #f6f6f6;
    }

    .tituloClimaBr {
        font-size: 22px;
        padding: 25px 0 11px;
    }

    .descricaoClima {
        line-height: 17px;
        font-size: 13px;
        margin: 0 0 7px 0;
    }
    
    .equatorial, .subtropical {
        flex-direction: column;
        /* background-color: #0000ff73; */
        width: 300px;
        padding: 18px 5px 74px 5px;
        
    }

    .tropical, .semiarido, .altitude, .litoraneo {
        flex-direction: row;
        
        width: 400px;
        padding: 18px 17px 2px 16px;
        height: 280px;
    }

    .equatorial {
        background-color: #0000ff73; 
        grid-area: clima1;
    }

    .tropical {
        grid-area: clima2;
        background-color: #b9d08f;
        margin: 0 0 0 -102px;
    }

    .semiarido {
        grid-area: clima3;
        background-color: #d0b372;
        margin: 0 0 0 -102px;
    }

    .altitude {
        background-color: #94963e;
        grid-area: clima4;
        margin: 20px 0 0 0;
    }

    .litoraneo {
        background-color: #cad0d7;
        grid-area: clima5;
    }

    .subtropical {
        background-color: #a9aeae;
        grid-area: clima6;
        margin: 20px 0 0 0;
    }




}

@media screen and (min-width: 1000px) {

    .headerTag {
        height: 695px;
        max-height: 705px;
        display: flex;
        gap: 90px;

        background-position: right 30% center;
    }
    
    .homeArea {
        max-width: 542px;
        padding: 0 1px 80px  70px;
    }

    .titleHome {
        font-size: 54px;
    }

    .homeArea p {
        font-size: 15px ;
    }

    .menuTag {
        padding: 38px 0 78px 0;
    }

    .titleRegion{
        
        padding: 0 0 17px 36px;
        font-weight: 500;

    }
       
      .arrow4 {
        visibility: hidden ;
    }


    
        .windInfo, .umidityInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* gap: 5px; */
    }

        
        /* .iconWindPurple {
            color: white;
        }

        .iconUmidityGray {
            color: #5170ff;
        } */

       

    .linhaHoriz {
        border: 0.1px solid white;
        margin: 10px 0px 15px -41px;
        width: 60%;
    }


    .info {
        display: flex;
        justify-content: center;
    }

    .containerAreaClima {
        /* width: 50%; */
        display: grid;
        grid-template-columns: 0fr 0fr;
        gap: 15px;
        grid-template-areas: "clima1 clima2"
                             "clima1 clima3"
                             "clima4 clima6"
                             "clima5 clima6" ;

    }

    .climaBr {
        
        display: flex;
        /* flex-direction: column; */
        align-items: center;
    }

    .divImgClima {
        width: 216px;
        height: 258px;
        margin: -41px 0 0 0;
        border-radius: 10px;
        overflow: hidden;

    }


    .imgClima {
        width: 100%;
        height: 100%;
    }

    .tropical .divImgClima, .semiarido .divImgClima, .altitude .divImgClima, .litoraneo .divImgClima{
        height: 193px;
        width: 260px;
    }

    .divTextoClima {
        text-align: center;
        width: 300px;
        color: #f6f6f6;
    }

    .tituloClimaBr {
        font-size: 22px;
        padding: 25px 0 11px;
    }

    .descricaoClima {
        line-height: 17px;
        font-size: 13px;
        margin: 0 0 7px 0;
    }
    
    .equatorial, .subtropical {
        flex-direction: column;
        /* background-color: #0000ff73; */
        width: 344px;
        padding: 18px 5px 74px 5px;
        
    }

    .tropical, .semiarido, .altitude, .litoraneo {
        flex-direction: row;
        
        width: 459px;
        padding: 18px 17px 2px 16px;
        height: 280px;
    }

    .equatorial {
        background-color: #0000ff73; 
        grid-area: clima1;
    }

    .tropical {
        grid-area: clima2;
        background-color: #b9d08f;
        margin: 0 0 0 -112px;
    }

    .semiarido {
        grid-area: clima3;
        background-color: #d0b372;
        margin: 0 0 0 -112px;
    }

    .altitude {
        background-color: #94963e;
        grid-area: clima4;
        margin: 20px 0 0 0;
    }

    .litoraneo {
        background-color: #cad0d7;
        grid-area: clima5;
    }

    .subtropical {
        background-color: #a9aeae;
        grid-area: clima6;
        margin: 20px 0 0 0;
    }




}

@media screen and (min-width: 1270px) {
    .arrow3, .arrow5 {
        visibility: hidden ;
    }
}